<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <nav>
                <a href="/">TodoApp</a>
                <ul>
                    <li><a href="/write">write</a></li>
                    <li><a href="/list">list</a></li>
                    <li><a href="/mypage">mypage</a></li>
                    <li><a href="/login">login</a></li>
                </ul>
            </nav>
            <section>
                <h1> <%= 사용자.id %> 마이페이지 입니다. </h1>
            </section>
        </div>
    </div>
</body>
</html>