<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for 리스트 렌더링</title>
    <style>
        div{
            border-bottom: 3px solid rgb(230, 230, 230);
        }
    </style>
</head>
<body>
    <div id="example1">
        <h3>v-for를 사용해서 리스트 렌더링1</h3>
        <ul>
            <li v-for="item in items">
              {{ item.message }}
            </li>
        </ul>
    </div> 

    <div id="example2">
        <h3>v-for를 사용해서 리스트 렌더링2</h3>
        <p>v-for는 현재 항목의 인덱스에 대해 두 번째 안자로 전달</p>
        <ul>
            <li v-for="(item, index) in items">
                {{ parentMessage }} {{ index + 1}} - {{ item.message }}
            </li>
        </ul>
    </div> 
    
    <div id="example3">
        <h3>v-for와 객체</h3>
        <p>v-for를 사용하여 객체의 속성을 반복</p>
        <ul>
            <li v-for="(value, name, index) in object">
                {{index  + 1}}.{{name}}: {{ value }}
            </li>
        </ul>
    </div> 

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

